
@font-face {
  font-family: "Geist";
  src: url("../../fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bruno Ace SC";
  src: url("../../BrunoAceSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


body {
  font-family: "Geist", sans-serif;
  background-color: #f5f6f8;
}

.sistema {
  min-height: 100vh;
}

.sidebar {
  width: 250px;
  min-height: 100vh;
  background-color: #001F3F;
  border-right: 1px solid #e5e7eb;
  padding: 24px 16px;
}



.sidebar-logo h2 {
  font-family: "Bruno Ace SC";
  font-size: 22px;
  color: #ffffff;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px;

  text-decoration: none;

  color: #374151;

  border-radius: 8px;

  transition: background-color 0.2s, color 0.2s;
}

.sidebar-menu a:hover {
  background-color: #0066FF;
  color: #111827;
}



.sidebar-menu-text {
  font-size: 14px;
  color: white;
}

.sidebar-menu-icon {
  width: 15px;
  height: 18px;
  object-fit: contain;
  flex-shrink: 0;
}