@font-face {
  font-family: "Geist";
  src: url("../../fonts/Geist[wght].woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bruno Ace SC";
  src: url("../../fonts/BrunoAceSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #F8F9FF;
  margin: 0;
}

.sistema {
  min-height: 100vh;
}

.sidebar {
  width: 230px;
  height: 100vh;
  background-color: #001F3F;
  overflow-y: auto;
  overflow-x: hidden;
  
}

.sidebar::-webkit-scrollbar {
  width: 6px;
}

.sidebar::-webkit-scrollbar-track {
  background-color: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #1c5fe4;
  border-radius: 10px;
}




.sidebar-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar-logo h2 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 50px;

  font-family: "Bruno Ace SC", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
  letter-spacing: 5px;

  color: #ffffff;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin-left: 6px;

}

.sidebar-menu a {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  text-decoration: none;
  color: #374151;
  transition: background-color 0.2s, color 0.2s;
}

.sidebar-menu a:hover {
  background-color: #0066FF;
  color: #111827;
}

.sidebar-menu a.menu-ativo {
  background-color: #0066FF;
  color: #ffffff;
  font-weight: 600;

}

.sidebar-menu-text {
  font-size: 14px;
  color: #ffffff;
}

.sidebar-menu-icon {
  width: 15px;
  height: 18px;
  object-fit: contain;
  flex-shrink: 0;
}

.layout-sistema {
    display: flex;
}


.conteudo-principal {
    flex: 1;
    padding: 30px;
}